main {
    min-height: 100vh;
    width: 100%;
    background-color: var(--body-color);
    transition: var(--tran-05);
    padding: 1rem 2rem;
}


main h2 {
    font-weight: 900;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    margin-bottom: 2rem;
}

main > img {
    position: absolute;
    margin: 0 0 2rem 2rem;
}

@media only screen and (max-width: 650px) {
    main > img {
        display: none;
    }
}

.wrapper {
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;
    min-height: 8   0vh;
}

@media only screen and (max-width: 510px) {
    .wrapper {
        padding: 0 0 32px 0;
    }
}

.card {
    background-color: var(--sidebar-color);
    min-width: 300px;
    min-height: 160px;
    border-radius: 1rem;
    box-shadow: -4px 4px 6px rgba(0, 0, 0, 0.20);
}

body.dark .card {
    background-color: #242526;
    color: #ccc;
    transition: 0.5s;
}

.card.dark {
    background-color: aqua;
}

@media only screen and (max-width: 510px) {
    .card {
        height: auto;
        box-shadow: none;
        margin-left: 8px;
    }
}

.card__container {
    padding: 15px 30px 15px 30px;
}

.card a {
    display: block;
    color: black;
    height: 100%;
}

@media only screen and (max-width: 510px) {
    .card__container {
        padding: 15px 15px 15px 15px;
    }
}

.card__profile-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.card__profile-wrapper img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
}

.card__profile-wrapper h2 {
    font-size: 25px;
}

@media only screen and (max-width: 510px) {
    .card__profile-wrapper h2 {
        font-size: 20px;
    }
}

.card__list {
    padding: 0;
    margin: 8px 0 0 15px;
    color: gray;
    font-style: italic;
}

.card__item {
    list-style: none;
    font-size: small;
    line-height: 25px;
    display: flex;
    align-items: center;
    gap: 5px;
}

@media only screen and (max-width: 510px) {
    .card__item {
        font-size: 12px;
    }
}

.card-2 {
    border: solid 5px #96969F;
    min-width: 300px;
    min-height: 163px;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    cursor: pointer;
}

@media only screen and (max-width: 510px) {
    .card-2 {
        margin-left: 8px;
    }
}

.card-2 i {
    color: #96969F;
}

.card-2:hover {
    background-color: var(--color-blue);
    border: none;
    transition: 0.5s;
    box-shadow: -4px 4px 6px rgba(0, 0, 0, 0.20);
}

body.dark .card-2:hover {
    background-color: var(--red-color);
}

.card-2:hover i {
    color: #fff;
    transition: 0.5s;
}

.profile__logout {
    padding: .5rem 1rem;
    border-radius: 5px;
    background-color: var(--color-deepSkyBlue);
    color: var(--sidebar-color);
    position: relative;
    bottom: calc(0% + 1rem);
    left: calc(95% - 4rem);
}

.profile__logout:hover {
    background-color: var(--color-blue);
}
